.login {
  width: 100%;
  height: 100vh;
  background-image: url("../img/blur_login.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
.login form {
  margin: 0 auto;
}
.login form .input-group {
  margin-right: 10px;
}
